// This velocity template currently relies on a data model that is hardcoded
// into VelocityTemplateEngine.java
First  time, this will be "world!" >>>  Hello ${w}                
Second time, this will be "World"  >>>  Hello ${datamodel.name}
